<div class="huh-progress-bar" data-state="{{ state }}" data-progress-url="{{ progressUrl|escape('html_attr') }}">
    <p>
        {{ description|raw }}
    </p>

    <div class="progress-bar">
        <span style="width: {{ data.totalCount == 0 ? 0 : (100 * data.currentProgress / data.totalCount) }}%"></span>
    </div>
    {% if not hideNumbers|default(false) %}
        <p class="numbers">
            <span class="current-progress">{{ data.currentProgress }}</span>/<span class="total-count">{{ data.totalCount }}</span> {{ 'huh.progress_bar_widget.misc.items_imported'|trans }}{% if not hideSkippedItems|default(false) %} ({{ 'huh.progress_bar_widget.misc.skipped'|trans }}: <span class="skipped-count">{{ data.skippedCount }}</span>){% endif %}
        </p>
    {% endif %}

    <div class="messages invisible">
        <p class="title">
            <strong>{{ 'huh.progress_bar_widget.misc.output'|trans }}:</strong>
        </p>

        <div class="wrapper">
            {% for message in messages|default([]) %}
                <p class="message {{ message.class }}">
                    {{ message.text }}
                </p>
            {% endfor %}
        </div>
    </div>
</div>
